.container{
  display: flex;
  flex-direction: row;
}
.pokemonsList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:60%;
  justify-content: center;
}
.pokemonCard{
  margin: 0 15px 10px;
  width:25%;
  height: auto;
  border:1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.disabled{
  display: none;
}
.active{
  margin: auto 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  width:30%
}
.loadButtons{
  width:40%;
  display: flex;
  justify-content: space-between;
}
.navButton{
  border-radius: 40px;
  height: 30px;
  width:70px;
  background-color: deepskyblue;
  color: white;
  border: none;
  cursor: pointer;
}:disabled{
  background: cyan;
}

